<h1>Editing Book</h1>
<%= form_with model:@book do |f| %>
<div>
  <label for="inputTitle">Title</label><br>
  <%= f.text_field :title %>
</div>
<div>
  <label for="inputOpinion">Opinion</label></br>
  <%= f.text_area :opinion %>
</div>
  <%= f.submit "Update Book" %>
<% end %>
<%= link_to "show", book_path %>
|
<%= link_to "back", books_path %>
